.SignupPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.SignupPage>header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
}
.SignupPage>header>h1{
    width:98%;
    font-size: 24px;
    margin-left:20px;
    position: relative;
    top:-3px;
}
.SignupPage .signup-section{
    width:100%;
    margin:10px 0;
}
.SignupPage .signup-section>h3{
    font-weight: 600;
    color:#333333;
    font-size: 18px;
    margin-bottom: 10px;
}
.SignupPage .signup-section>input{
    border:1px solid #c4c4c4;
    background: white;
    border-radius: 5px;
    height:56px;
    font-size: 15px;
    padding:0 4%;
    width:91%;
    margin:4px 0;
}
.SignupPage .signup-section .cert-btn{
    color:white;
    font-size:18px;
    font-weight:700;
    background-color:#c4c4c4;
    border:none;
    border-radius:5px;
    width:90vw;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px 0;
}
