.ExerciseListPage .exercise-list{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:15px;
}
.ExerciseListPage .exercise-list a{
    width:48%;
}
.ExerciseListPage .category{
    position: relative;
    z-index: 1;
    display: flex;
}
.ExerciseListPage .category .category-name{
    display: flex;
    align-items: center;
    justify-content: center;
    width:96%;
    z-index: 2;
}
.ExerciseListPage .category .category-name h3{
    text-align: center;
    margin-right:5px;
    font-size: 18px;
}
.ExerciseListPage .open-menu{
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    position: fixed;
    left:0;
    top:9vh;
    touch-action: none;
    overflow: hidden;
}
.ExerciseListPage .open-menu .dropdown-menu{
    display:flex;
    padding-top:3vh;
    background:#f8f8f8;
    z-index:5;
}
.ExerciseListPage .open-menu .dropdown-menu div{
    min-height:348px;
}
.ExerciseListPage .open-menu .first-category{
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-right:1px solid #dadada;
    border-top:1px solid #dadada;
}
.ExerciseListPage li{
    list-style: none;
}
.ExerciseListPage .open-menu .first-category li{
    font-size:11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid #dadada;
    padding:10px 0;
}

.ExerciseListPage .open-menu .first-category li img{
    width:30px;
    height:30px;
    margin-bottom: 3px;
}
.ExerciseListPage .open-menu .sub-category{
    width:60vw;
    padding:5vw; 
    background:#f4f4f4;
    display: flex;
    flex-direction: column;
    border-top:1px solid #dadada;
}
.ExerciseListPage .open-menu .sub-category li{
    margin:6px 0;
    font-size: 15px;
}

.ExerciseListPage .hide-menu{
    display: none;
}

.ExerciseListPage .filtering{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin:20px 0 5px 0;
}

.ExerciseListPage .filtering .white-button{
    width:32%;
    padding:7px 0;
    border-radius: 100px;
    border:1px solid #c4c4c4;
    color:#555555;
    font-size:12px;
    text-align: center;
    background: transparent;
}
.ExerciseListPage .filtering .blue-button{
    background:#223DFF;
    font-weight: 500;
    border:none;
    width:32%;
    padding:7px 0;
    border-radius: 100px;
    color:#fff;
    font-size:12px;
    text-align: center;
}

.ExerciseListPage .type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    font-size: 12px;
    border-bottom:1px solid #dadada;
}
.ExerciseListPage .type button{
    width:20%;
    text-align: center;
    background: transparent;
    border:none;
    padding:3% 0;
}

.ExerciseListPage .type .selected-type{
    color:#223DFF;
    border-bottom:2px solid #223DFF;
    font-weight: 700; 
}

.ExerciseListPage .sort{
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin:3% 0 1% 0;
}

.ExerciseListPage .sort select{
    width:71px;
    height:25px;
    border-radius: 100px;
    border:1px solid #dadada;
    background: white;
    font-size: 10px;
    padding:5px 10px;
    text-align:center;
}