.classCalendar{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.classCalendar .month-year{
    width:100%;
    font-size: 14px;
    font-weight: 600;    
}
.classCalendar .day-list{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:10px;
    margin:10px 0;
}
.classCalendar .day-list button{
    border-radius: 100px;
    width:33px;
    height:33px;
    border:none;
    background:transparent;
}
.classCalendar .lesson-time{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom:7px;
}
.classCalendar .lesson-time .lesson-time-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    width:22%;
    border:1px solid #dadada;
    border-radius: 5px;
    background:white;
    margin:1%;
}

.classCalendar .lesson-time .lesson-time-item p{
    margin-top:2px;
    font-weight: 500;
    font-size: 10px;
}
.classCalendar .lesson-time .lesson-time-item h6{
    margin-bottom:3px;
    font-size:11px;
}