.distance-popup .range{
    display: flex;
    flex-direction: column;
    width:90%;
    align-items: center;
    justify-content: center;
    margin:50px 0 40px 0;
}
.distance-popup .range input[type=range]{
    -webkit-appearance: none;
    background:#bbbbbb;
    height: 4px;
    width:100%;
    color:#bbbbbb;
    cursor: pointer;
    position: relative;

}
.distance-popup .range input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 50px;
    width:20px;
    height: 20px;
    background:#223DFF;
}
.distance-popup .range .unit{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:10px;
    color:#999999;
    margin-top:15px;
}
.distance-popup .distance-range{
    width:90%;
    padding:5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #dfdfdf;
    font-size: 20px;
    color:#223DFF;
    font-weight: 700;
}
