@keyframes popup-bottom{
    from{
        bottom:-422px
    }to{
        bottom:0;
    }
}
.register-popup{
    height:380px;
    position: fixed;
    bottom:0;
    left:0;
    width:100vw;
    animation-name: popup-bottom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 15;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding:5% 0;
}
.register-popup>header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    position: relative;

}
.register-popup>header>h1{
    font-size:18px;
}
.register-popup>header>span{
    font-size: 20px;
    position: absolute;
    right:5%;
}